<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJXyYc_UObx-7uiYH34Tb8PpZvMbsAuT8</string>
	<key>GCM_SENDER_ID</key>
	<string>754957554010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.MoutazBaaj.Bee-warning</string>
	<key>PROJECT_ID</key>
	<string>bee-spotter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bee-spotter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754957554010:ios:25e796133a3e4c212ce363</string>
</dict>
</plist>